aerich>=0.7.1,<0.8
aiohttp>=3.8.6,<3.9
asyncpg>=0.27.0,<0.28
dadata>=21.10.1,<21.11
fastapi>=0.95.0,<0.96
gunicorn>=20.1.0,<20.2
httpx>=0.23.3,<0.24
passlib[bcrypt]>=1.7.4,<1.8
Pillow>=10.0.0,<10.1
pydantic[email]>=1.10.8,<1.11
python-docx>=0.8.11,<0.9
python-jose[cryptography]>=3.3.0,<3.4
python-multipart>=0.0.6,<0.1
rocketry>=2.5.1,<2.6
sentry-sdk[fastapi]>=1.32.0,<1.33
tortoise-orm>=0.19.2,<0.20
uvicorn[standard]>=0.20.0,<0.21
yookassa>=2.4.0,<2.5